# Ignore environment files
.env

# Ignore dependencies
node_modules/

# Ignore logs
*.log

# Ignore sensitive files
*.json
# Ignore sensitive files
anemia-448514-95a1fabcd96d.json

# Ignore dependencies
node_modules/
